import net.jini.jrmp.*;
import net.jini.jeri.*;
import net.jini.jeri.tcp.*;
import net.jini.core.entry.*;
import net.jini.lookup.entry.*;
import sorcer.core.*;
import sorcer.provider.boot.Booter;


sorcer.core.provider.ServiceProvider  {
		name = "Cataloger";
		publishedInterfaces = new Class[] { sorcer.core.Cataloger.class };
		description = "Dynamic catalog of SORCER service providers";
		location = "Sorcersoft.com Lab";		spaceEnabled = false;
		entries = new Entry[] { 
			new Comment("Welcome to exertion-oriented programming!"), 
			new Location("", "", "Sorcersoft.com") };

        // if not declared the default exporter is BasicJeriExporter
        // exporter = new JrmpExporter(0);
         exporter = new BasicJeriExporter(TcpServerEndpoint.getInstance(Booter.getHostAddress(), 0), new BasicILFactory());
        
         iconName="sorcer-ico.png";
}


