/** Sorcer ExertMonitor configuration file */

import net.jini.jrmp.*;
import net.jini.jeri.*;
import net.jini.jeri.tcp.*;
import sorcer.core.*;
import net.jini.core.entry.Entry;
import net.jini.lookup.entry.*;
import sorcer.core.provider.exertmonitor.*;
import sorcer.provider.boot.Booter;
import java.util.Arrays;

sorcer.core.provider.ServiceProvider {
    // application-specific service provider properties
	properties = "/config/exertmonitor-prv.properties";
	name = "Exert Monitor";
	publishedInterfaces = new Class[] { sorcer.core.provider.exertmonitor.MonitoringManagement.class };
	description = "SORCER Exertion Execution Monitoring service";
	entries = new Entry[] { 
		//QosServiceProvider.getActiveSlasUIDescriptor(),
    	new Name(name),
    	new Comment(Booter.getHostName()),
    	new Comment("group:" + Arrays.toString(SorcerEnv.getLookupGroups())),
		new Comment(System.getProperty("user.name"))
	};
	
	// if not declared the default exporter is BasicJeriExporter
	//exporter = new JrmpExporter(0);
	exporter = new BasicJeriExporter(TcpServerEndpoint.getInstance(Booter.getHostAddress(), 0), new BasicILFactory());
	
	//Exertion Space (JavaSpaces configuration) not required for Exertion Monitoring
	spaceEnabled = false;
		    
	iconName="sorcer-ico.png";
}
	

