/** Sorcer Provider configuration file */

import net.jini.jrmp.*;
import net.jini.jeri.*;
import net.jini.jeri.tcp.*;
import sorcer.core.*;
import net.jini.core.entry.Entry;
import net.jini.lookup.entry.*;

import sorcer.provider.boot.Booter;

sorcer.core.provider.ServiceProvider {
    // service provider properties
    //properties = "../configs/spacer-prv.properties";
    
    name=SorcerEnv.getSpacerName();
    publishedInterfaces = new Class[] { sorcer.service.Spacer.class };
    description = "Spacer";
	location = "Sorcersoft.com Lab";
    entries = new Entry[] {
		new Comment("Welcome to exertion-oriented space-based programming!"), 
		new Location("", "", "Sorcersoft.com") };
		
    // if not declared the default exporter is BasicJeriExporter
    //exporter = new JrmpExporter(0);
    exporter = new BasicJeriExporter(TcpServerEndpoint.getInstance(Booter.getHostAddress(), 0), new BasicILFactory());
    
    //Exertion Space (JavaSpaces configuration)
    spaceEnabled = false;
    matchInterfaceOnly = false; 
    //workerTransactional = false;
    
    iconName="sorcer-ico.png";
}