/* 
* A SORCER Provider dependency injection definitions.
* It uses component entry names by sorcer.core.provider.SorcerProvider.
*/
import java.net.URL;

import net.jini.jrmp.*;
import net.jini.jeri.*;
import net.jini.jeri.tcp.*;
import net.jini.core.entry.Entry;
import net.jini.lookup.entry.*;
import net.jini.lookup.ui.MainUI;
import sorcer.core.*;
import sorcer.ui.serviceui.*;
import sorcer.jini.jeri.*;

sorcer.core.provider.ServiceProvider {
	/* service provider generic properties */
	name = "Caller";
	description = "System Caller Service";
	publishedInterfaces = new Class[] { sorcer.caller.Caller.class };
	// service beans
	beanClasses = new Class[] { sorcer.caller.CallerImpl.class };
	iconName="sorcersoft.png";

	entries = new Entry[] {
	    UIDescriptorFactory.getUIDescriptor(MainUI.ROLE, new UIComponentFactory(new URL("artifact:org.sorcersoft.sorcer:caller-sui:1.0"), "sorcer.caller.CallerImplUI"))
    };

	monitorEnabled = false;
    spaceEnabled = false;
}
