/* 
* A SORCER Provider dependency injection definitions.
* It uses component entry names by sorcer.core.provider.SorcerProvider.
*/
import java.net.URL;

import net.jini.jrmp.*;
import net.jini.jeri.*;
import net.jini.jeri.tcp.*;
import net.jini.core.entry.Entry;
import net.jini.lookup.entry.*;
import net.jini.lookup.ui.MainUI;
import sorcer.core.*;
import sorcer.ui.serviceui.*;
import sorcer.jini.jeri.*;

sorcer.core.provider.ServiceProvider {
	/* service provider generic properties */
	name = "SampleService";
	publishedInterfaces = new Class[] { org.sorcersoft.sorcer.SampleService.class };
	// service beans
	beanClasses = new Class[] { org.sorcersoft.sorcer.${providerInterface}Impl.class };
	iconName="/config/sorcer.png";

	monitorEnabled = false;
}
