##############################################################################
##                                                                          ##
##  SORCER Network Shell (nsh) Classloading Configuration                   ##
##                                                                          ##
##############################################################################
##
## Note: do not add classes from java.lang here. No rt.jar and on some
##       platforms no tools.jar
##
## See http://groovy.codehaus.org/api/org/codehaus/groovy/tools/LoaderConfiguration.html
## for the file format
## !{mvn: } allows to specify artifact coordinates in the format: groupId:Artifact:[version]

    # load required libraries
    
    load !{mvn:org.sorcersoft.sorcer:sos-shell}
    load !{mvn:org.sorcersoft.sorcer:boot}
    load !{mvn:org.sorcersoft.sorcer:sos-platform}
    load !{mvn:org.sorcersoft.sorcer:sos-util}
    load !{mvn:org.rioproject:rio-platform}
    load !{mvn:org.codehaus.groovy:groovy-all}
    load !{mvn:net.jini.lookup:serviceui}
    
    # load user specific libraries
    load !{user.home}/.nsh/lib/*.jar
 	load !{sorcer.home}/lib/sorcer/lib/arithmetic-beans.jar
 	load !{sorcer.home}/lib/sorcer/lib/rect.jar
 	load !{sorcer.home}/lib/sorcer/lib/ju-rs-model.jar
    
    # tools.jar for ant tasks
    # load ${tools.jar}