/*
 * This configuration is used by the com.sun.jini.start utility to start a 
 * SORCER Webster instance
 */
import com.sun.jini.start.ServiceDescriptor;
import sorcer.provider.boot.SorcerServiceDescriptor;
import com.sun.jini.config.ConfigUtil;

import sorcer.provider.boot.SorcerDescriptorUtil;
import sorcer.provider.boot.Booter;

com.sun.jini.start {
 			
 	serviceDescriptors = new ServiceDescriptor[] {
    	/* Wester descriptor */
   		new SorcerServiceDescriptor(null, 
   			"${java.security.policy}",
			Booter.resolveClasspath("org.sorcersoft.sorcer:sos-webster"),
			"sorcer.tools.webster.Webster", 
			"${sorcer.home}/bin/webster/configs/webster-prv.config"
		)
    };
    
}//end com.sun.jini.start
 	
