/*
 * Copyright 2013, 2014 Sorcersoft.com S.A.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
import sorcer.tools.webster.start.WebsterStarter;
import sorcer.core.SorcerEnv;

sorcer.tools.codeserver {

    home = "${sorcer.home}";

    // for compatibility with old sorcer distro
    roots = WebsterStarter.getWebsterRoots(new String[] {
    	home + "${/}lib${/}sorcer",
		home + "${/}lib${/}jini",
		home + "${/}lib${/}rio",
		home + "${/}lib${/}rio-resolver",
		home + "${/}lib${/}rio-cybernode",
		home + "${/}lib${/}rio-monitor",
		home + "${/}lib${/}jini-lookup",
		home + "${/}lib${/}river",
		home + "${/}lib${/}commons",
		home + "${/}data"
    });

    websterPort = SorcerEnv.getWebsterPort();
    websterAddress = SorcerEnv.getWebsterInterface();
    startPort = WebsterStarter.getWebsterStartPort();
    endPort = WebsterStarter.getWebsterEndPort();
    isDaemon = false;
}
