import java.net.URL;
import com.sun.jini.start.ServiceDescriptor;
import com.sun.jini.config.ConfigUtil;
import sorcer.provider.boot.Booter;
import sorcer.provider.boot.SorcerDescriptorUtil;
import sorcer.provider.boot.SorcerServiceDescriptor;
import sorcer.core.SorcerEnv;
	
com.sun.jini.start {
	home = "${sorcer.home}";
	policy = "${java.security.policy}";
	
    serviceDescriptors = new ServiceDescriptor[] {
        SorcerDescriptorUtil.getWebster(policy, 0, Booter.getWebsterRoots()),

        new SorcerServiceDescriptor(
            Booter.resolveCodebase(new String[] {
 				"org.sorcersoft.sorcer:ex6-api",
 				"org.sorcersoft.sorcer:ex6-sui",
 				"org.sorcersoft.sorcer:sorcer-api"
			}),
            policy,
            Booter.resolveClasspath(new String[] {
                "org.sorcersoft.sorcer:ex6-api",
                "org.sorcersoft.sorcer:ex6-sui",
            	"org.sorcersoft.sorcer:ex6-prv"
            }),
	        "sorcer.core.provider.ServiceTasker",
          	"src/main/resources/config/beans-prv.config"
        )
    };
}
