import net.jini.jeri.tcp.TcpServerEndpoint;
import net.jini.jeri.BasicILFactory;
import net.jini.jeri.BasicJeriExporter;
import net.jini.core.entry.Entry;
import net.jini.lookup.entry.*;
import sorcer.provider.boot.Booter;
import sorcer.core.SorcerEnv;

com.sun.jini.fiddler {
    initialLookupGroups = SorcerEnv.getLookupGroups();
    hostName = Booter.getHostName();
    name = SorcerEnv.getActualName("Lookup Discovery Service");
    initialLookupAttributes = new Entry[] {
    	new Name(name),
    	new Comment(hostName),
    	new Comment(System.getProperty("user.name"))
	};
    // serverExporter = new BasicJeriExporter(TcpServerEndpoint.getInstance(Booter.getHostAddress(), 0), new BasicILFactory());
}
