import java.net.URL;
import com.sun.jini.start.ServiceDescriptor;
import com.sun.jini.config.ConfigUtil;
import sorcer.provider.boot.Booter;
import sorcer.provider.boot.SorcerDescriptorUtil;
import sorcer.provider.boot.SorcerServiceDescriptor;
import sorcer.core.SorcerEnv;

com.sun.jini.start {
    home = "${sorcer.home}";
    policy = "${java.security.policy}";

    //port = Booter.getWebsterPort();
    port = 0;
    //address = Booter.getWebsterInterface();
    //startPort = Booter.getWebsterStartPort();
    //endPort = Booter.getWebsterEndPort();

    standardProviderCodebase = Booter.resolveCodebase(new String[]{
        "org.sorcersoft.sorcer:sos-platform",
        "org.sorcersoft.sorcer:sos-exertlet-sui",
        "com.sorcersoft.river:serviceui"
    });

    serviceDescriptors = new ServiceDescriptor[] {
        /* SORCER Webster, set to serve up lib directories */
  	    /*new SorcerServiceDescriptor(
            null,
   			policy,
            Booter.resolveClasspath("org.sorcersoft.sorcer:sos-webster"),
			"sorcer.tools.webster.Webster", 
			home + "/configs/webster/configs/webster-prv.config"
        ),*/

        // SORCER Jobber Service
        new SorcerServiceDescriptor(
            standardProviderCodebase,
            policy,
            Booter.resolveClasspath(new String[]{
                "org.sorcersoft.sorcer:commons-prv",
                "org.sorcersoft.sorcer:jobber-prv"
            }),
            "sorcer.core.provider.jobber.ServiceJobber",
            home + "/configs/sos-providers/jobber.config"
        )
    };
}
