/* 
* Provider dependency injections
* It uses component entry names defined in the SORCER provider
* as defined by sorcer.core.provider.SorcerProvider.
*/
import net.jini.jrmp.*;
import net.jini.jeri.*;
import net.jini.jeri.tcp.*;
import sorcer.core.*;
import net.jini.core.entry.Entry;
import net.jini.lookup.entry.*;
import sorcer.core.provider.*;
import sorcer.core.provider.exerter.ExertionDispatcher;
import sorcer.core.provider.Exerter;

sorcer.core.provider.ServiceProvider {
        /* service provider deployment properties */
		name = "Exerter";
		description = "Exert Provider for SOS, the network version of ExertManager";
		location = "Sorcersoft.com Lab";
		publishedInterfaces = new Class[] { 
			sorcer.core.provider.Exerter.class };
			
		spaceEnabled = false;
		
		// persist and reuse service ID
		providerIdPersistent = false;
		// exporterFactory = sorcer.container.jeri.ExporterFactory.EXPORTER;
		
		// service beans
		beanClasses = new Class[] { sorcer.core.provider.exerter.ExertionDispatcher.class };
		
		iconName="sorcer.jpg";
}
	



