/* 
* Provider dependency injections
* It uses component entry names defined in the SORCER provider
* as defined by sorcer.core.provider.SorcerProvider.
*/
import net.jini.jrmp.*;
import net.jini.jeri.*;
import net.jini.jeri.tcp.*;
import sorcer.core.*;
import net.jini.core.entry.Entry;
import net.jini.lookup.entry.*;
import sorcer.core.provider.*;
import sorcer.core.provider.ui.*;
import sorcer.ex5.provider.*;

sorcer.core.provider.ServiceProvider {
        /* service provider deployment properties */
		name = "Subtractor";
		description = "Subtractor - bean provider";
		location = "Sorcersoft.com Lab";
		publishedInterfaces = new Class[] { sorcer.ex5.provider.Subtractor.class };
		
		// add service UI
		//entries = new Entry[] { ArithmeticUI.getUIDescriptor(),  
			//new Comment("It uses sorcer.ex5.provider.Arithmometer for bean implementation") };

		spaceEnabled = true;
		workerTransactional = true;
		
		// persist and reuse service ID
		providerIdPersistent = false;
		
		// service beans	
		beanClasses = new Class[] { sorcer.ex5.provider.SubtractorImpl.class };
		
		iconName="examples.png";
}
	



