import java.net.URL;
import com.sun.jini.start.ServiceDescriptor;
import com.sun.jini.config.ConfigUtil;
import sorcer.provider.boot.Booter;
import sorcer.provider.boot.SorcerDescriptorUtil;
import sorcer.provider.boot.SorcerServiceDescriptor;

import sorcer.util.ArtifactCoordinates;

// Phoenix activation service
// Reggie service registrar and lookup service
// Outrigger JavaSpace
// Mahalo transaction server service
// Norm lease renewal service
// Mercury event mailbox
// Fiddler server side lookup discovery service
	
com.sun.jini.start {
    home = "${iGrid.home}";
    policy = "${java.security.policy}";
    ps = System.getProperty("path.separator");
    river_version="2.2.1";
    blitz_version="2.1.7";

    // webster root directories
    jiniLibPath 	 = home + "${/}lib${/}river${/}lib";
    jiniLibDLPath    = home + "${/}lib${/}river${/}lib-dl";
    //rioLibPath 		 = home + "${/}lib${/}rio${/}lib";
    deployPath 		 = home + "${/}deploy";
    httpData 		 = home + "${/}data";
     
    port = Booter.getWebsterPort(); 
    //port = 0;
    address = Booter.getWebsterInterface();
    startPort = Booter.getWebsterStartPort();
    endPort = Booter.getWebsterEndPort();
	
    repo = "${user.home}/.m2/repository/";
    
    serviceDescriptors = new ServiceDescriptor[] {
        /* SORCER Webster, set to serve up 10 directories */
        // (String policy, int port, String[] roots, String address, int startPort, int endPort, boolean debug, boolean isDaemon)
        SorcerDescriptorUtil.getWebster(policy,
                                         port,
                                         new String[] { //rioLibPath,
                                                        jiniLibPath,
                                                        httpData,
                                                        deployPath,
                                                        repo
                                                        },
                                         address,
                                         startPort,
                                         endPort,
                                         true,
                                         false),

/*
        new SorcerServiceDescriptor(
            "browser-dl.jar jsk-dl.jar",
            policy,
            jiniLibPath + "${/}browser.jar",
            "com.sun.jini.example.browser.Browser",
            new String[] { home + "${/}bin${/}jini${/}configs${/}browser.config" }),
*/

	    new SorcerServiceDescriptor(
	      	""+new ArtifactCoordinates("org.apache.river","reggie-dl",river_version),
            policy,
            repo + new ArtifactCoordinates("org.apache.river","reggie",river_version),
            "com.sun.jini.reggie.TransientRegistrarImpl",
            new String[] { home + "${/}bin${/}jini${/}configs${/}reggie.config" }),
            
		new SorcerServiceDescriptor(
	    	""+new ArtifactCoordinates("org.apache.river","mahalo-dl",river_version),
            policy,
            repo + new ArtifactCoordinates("org.apache.river","mahalo",river_version),
            "com.sun.jini.mahalo.TransientMahaloImpl",
            new String[] { home + "${/}bin${/}jini${/}configs${/}mahalo.config" }),

/*
       new SorcerServiceDescriptor(
	      	"" + new ArtifactCoordinates("org.apache.river","fiddler-dl",river_version),
            policy,
            repo + new ArtifactCoordinates("org.apache.river","fiddler",river_version),
           "com.sun.jini.fiddler.TransientFiddlerImpl",
            new String[] { home + "${/}bin${/}jini${/}configs${/}fiddler.config" }),

        new SorcerServiceDescriptor(
	      	"" + new ArtifactCoordinates("org.apache.river","mercury-dl",river_version),
            policy,
            repo + new ArtifactCoordinates("org.apache.river","mercury",river_version),
            "com.sun.jini.mercury.TransientMercuryImpl",
            new String[] { home + "${/}bin${/}jini${/}configs${/}mercury.config" }),


        new SorcerServiceDescriptor(
	      	"" + new ArtifactCoordinates("org.apache.river","norm-dl",river_version),
            policy,
            repo + new ArtifactCoordinates("org.apache.river","norm",river_version),
            "com.sun.jini.norm.TransientNormServerImpl",
            new String[] { home + "${/}bin${/}jini${/}configs${/}norm.config" }),
            
        new SorcerServiceDescriptor(
	      	"" + new ArtifactCoordinates("org.apache.river","outrigger-dl",river_version),
            policy,
            repo + new ArtifactCoordinates("org.apache.river","outrigger",river_version),
            "com.sun.jini.outrigger.TransientOutriggerImpl",
            new String[] { home + "${/}bin${/}jini${/}configs${/}outrigger.config" }),
*/

   		// Blitz

        new SorcerServiceDescriptor(
 			new ArtifactCoordinates("org.dancres.blitz","blitz-dl",blitz_version)+" "+ new ArtifactCoordinates("org.dancres.blitz","blitzui",blitz_version),
            policy, 
            ConfigUtil.concat(new Object[] {
            	repo, new ArtifactCoordinates("org.dancres.blitz","blitz",blitz_version), ps,
            	repo, new ArtifactCoordinates("org.dancres.blitz","blitzui",blitz_version), ps,
            	repo, new ArtifactCoordinates("com.sleepycat","je","4.1.21"), ps,
            	repo, new ArtifactCoordinates("net.jini.lookup","serviceui",river_version), ps,
            	repo, new ArtifactCoordinates("org.apache.river","outrigger-dl",river_version), ps,
            	repo, new ArtifactCoordinates("net.jini","jsk-platform",river_version)
            }),
	        "org.dancres.blitz.remote.BlitzServiceImpl",
          	new String[] { home + "${/}bin${/}blitz${/}configs${/}blitz.config" }),

/*
		// MutualExclusion - Locker
  		new SorcerServiceDescriptor(
           "lockmgr-dl.jar",
           policy, 
            ConfigUtil.concat(new Object[] {
            	blitzLib, "${/}lockmgr.jar",
            	ps, otherLib, "${/}jgroups.jar",
            	ps, home, "${/}lib${/}river${/}lib-dl${/}outrigger-dl.jar",
            	ps, jiniLibPath, "${/}jsk-platform.jar" }
            	),
            "org.dancres.blitz.jini.lockmgr.ServerImpl",
             new String[] { home + "${/}bin${/}blitz${/}configs${/}lockmgr.config" }),
 */ 
    		// SORCER Job Service 
       		SorcerDescriptorUtil.getJobber(
       			policy,
       			home + "${/}modules${/}providers${/}jobber${/}jobber-service${/}src${/}main${/}resources${/}META-INF${/}sorcer${/}services.config"),
   
     		// SORCER Space Service
       		SorcerDescriptorUtil.getSpacer(
       			policy,
       			home + "${/}modules${/}providers${/}spacer${/}spacer-service${/}src${/}main${/}resources${/}META-INF${/}sorcer${/}services.config"), 

    
       		// SORCER Catalog Service
      		SorcerDescriptorUtil.getCataloger(
       			policy, 
       			home + "${/}modules${/}providers${/}cataloger${/}cataloger-service${/}src${/}main${/}resources${/}META-INF${/}sorcer${/}services.config"),
     			
       		// SORCER Logger Service
       		SorcerDescriptorUtil.getLogger(
       			policy, 
       			home + "${/}modules${/}providers${/}logger${/}logger-service${/}src${/}main${/}resources${/}META-INF${/}sorcer${/}services.config"),
      			
       		// SORCER ExertMonitor Service
       		SorcerDescriptorUtil.getExertMonitor(
       			policy, 
       			home + "${/}modules${/}providers${/}exertmonitor${/}exertmonitor-service${/}src${/}main${/}resources${/}META-INF${/}sorcer${/}services.config"),
       			
       		// SORCER Database Store Service
       		SorcerDescriptorUtil.getDatabaseStorer(
       			policy, 
       			home + "${/}modules${/}providers${/}dbp${/}dbp-service${/}src${/}main${/}resources${/}META-INF${/}sorcer${/}services.config")
 
    };
}
