import com.sun.jini.config.ConfigUtil;

root {
  	groups = SorcerEnv.getGroups();
  	host = SorcerEnv.getHostAddress();
}

com.sun.jini.reggie {
    serverExporter = sorcer.container.jeri.ExporterFactories.getBasicTcp();
    initialMemberGroups = root.groups;
    minMaxEventLease = 30000L;
    minMaxServiceLease = 15000L;
    minRenewalInterval = 100L;
}

com.sun.jini.outrigger {
    serverExporter = sorcer.container.jeri.ExporterFactories.getBasicTcp();
    initialLookupGroups = root.groups;
}

com.sun.jini.mahalo {
    serverExporter = sorcer.container.jeri.ExporterFactories.getBasicTcp();
    initialLookupGroups = root.groups;
}
