import net.jini.core.entry.Entry;
import net.jini.lookup.entry.*;

import com.sun.jini.config.ConfigUtil;
import java.util.Arrays;
import sorcer.core.SorcerEnv;

com.sun.jini.mahalo {
    name = SorcerEnv.getActualName("Transaction Manager");
    userName = System.getProperty("user.name");
    initialLookupGroups = SorcerEnv.getLookupGroups();
    hostName = ConfigUtil.getHostName();
    initialLookupAttributes = new Entry[] { new Name(name), 
    	new Comment("group:" + Arrays.toString(initialLookupGroups)), 
    	new Comment("host:" + hostName), 
    	new Comment("user:" + userName) };
    	
    //initialLookupLocators
    //initialUnicastDiscoveryPort
   
    serverExporter = sorcer.container.jeri.ExporterFactories.getBasicTcp();
}
