import net.jini.jeri.tcp.TcpServerEndpoint;
import net.jini.jeri.BasicILFactory;
import net.jini.jeri.BasicJeriExporter;
import com.sun.jini.config.ConfigUtil;
import net.jini.core.entry.Entry;
import net.jini.lookup.entry.*;

import java.util.Arrays;
import sorcer.provider.boot.Booter;

com.sun.jini.outrigger {
    name = SorcerEnv.getActualName("Exert Space");
    userName = System.getProperty("user.name");
    initialLookupGroups = SorcerEnv.getLookupGroups();
    hostName = ConfigUtil.getHostName();
    initialLookupAttributes = new Entry[] { new Name(name), 
    	new Comment("group:" + Arrays.toString(initialLookupGroups)), 
    	new Comment("host:" + hostName), 
    	new Comment("user:" + userName) };
    	
    //initialLookupLocators
    //initialUnicastDiscoveryPort
   
    serverExporter = new BasicJeriExporter(TcpServerEndpoint.getInstance(Booter.getHostAddress(), 0), new BasicILFactory());
}
