import net.jini.jeri.tcp.TcpServerEndpoint;
import net.jini.jeri.BasicILFactory;
import net.jini.jeri.BasicJeriExporter;
import net.jini.core.entry.Entry;
import net.jini.lookup.entry.*;
import sorcer.core.SorcerEnv;

com.sun.jini.reggie {
    name = SorcerEnv.getActualName("Service Registry");
    initialMemberGroups = SorcerEnv.getLookupGroups();
    hostName = SorcerEnv.getHostAddress();
    initialLookupAttributes = new Entry[] { new Name(name), new Comment(hostName) };
    //initialLookupLocators
    //initialUnicastDiscoveryPort
   
//    serverExporter = new BasicJeriExporter(TcpServerEndpoint.getInstance(0), new BasicILFactory());
    serverExporter = new BasicJeriExporter(TcpServerEndpoint.getInstance(SorcerEnv.getHostAddress(), 0), new BasicILFactory());

}
