import net.jini.jeri.tcp.TcpServerEndpoint;
import net.jini.jeri.BasicILFactory;
import net.jini.jeri.BasicJeriExporter;

import sorcer.provider.boot.Booter;

com.sun.jini.reggie{

	initialLookupGroups = SorcerEnv.getGroups();
	host = Booter.getHostAddress();
	
	serverExporter = new BasicJeriExporter(TcpServerEndpoint.getInstance(host, 0), new BasicILFactory());
}
