import com.sun.jini.start.ServiceDescriptor;

import sorcer.provider.boot.Booter;
import sorcer.provider.boot.SorcerServiceDescriptor;

// Starts up Blitz in non-activatable mode with an embedded httpd to save
// starting it up separately from the command-line. 

com.sun.jini.start {

    home = "${sorcer.home}";
    policy = "${java.security.policy}";
    ps = System.getProperty("path.separator");

    serviceDescriptors = new ServiceDescriptor[] {
        new SorcerServiceDescriptor(
            Booter.resolveCodebase(new String[]{
                "org.sorcersoft.blitz:blitz-common",
                "org.sorcersoft.blitz:blitz-proxy",
                "net.jini.lookup:jmx-lookup",
                "org.apache.river:outrigger-dl",
 			    "org.sorcersoft.blitz:blitz-ui"
            }),
            policy,
            Booter.resolveClasspath(new String[]{
                "org.sorcersoft.blitz:blitz-common",
                "org.sorcersoft.blitz:blitz-service",
                "org.sorcersoft.blitz:blitz-proxy",
            	"org.sorcersoft.blitz:blitz-ui",
            	"org.apache.river:outrigger-dl",
            	"com.sleepycat:je",
                "net.jini.lookup:jmx-lookup",
            	"net.jini.lookup:serviceui",
            	"net.jini:jsk-lib",
            	"net.jini:jsk-platform"
            }),
	        "org.dancres.blitz.remote.BlitzServiceImpl",
          	new String[] { home + "/configs/blitz/configs/blitz.config" }
        )

/*    OLD non-mavenized Blitz
      new SorcerServiceDescriptor(
            Booter.resolveCodebase(new String[]{
                "org.dancres.blitz:blitz-dl",
 			    "org.dancres.blitz:blitzui"
            }),
            policy,
            Booter.resolveClasspath(new String[]{
            	"org.dancres.blitz:blitz",
            	"org.dancres.blitz:blitzui",
            	"com.sleepycat:je",
            	"net.jini.lookup:serviceui",
            	"org.apache.river:outrigger-dl",
            	"net.jini:jsk-platform"
            }),
	        "org.dancres.blitz.remote.BlitzServiceImpl",
          	new String[] { home + "/configs/blitz/configs/blitz.config" }
        )*/
    };
}
