import com.sun.jini.start.ServiceDescriptor;
import com.sun.jini.start.NonActivatableServiceDescriptor;
import com.sun.jini.config.ConfigUtil;


import sorcer.provider.boot.Booter;
import sorcer.provider.boot.SorcerDescriptorUtil;
import sorcer.provider.boot.SorcerServiceDescriptor;
import sorcer.core.SorcerEnv;

// Starts up Blitz in non-activatable mode with an embedded httpd to save
// starting it up separately from the command-line. 

com.sun.jini.start {

    home = "${sorcer.home}";
    policy = "${java.security.policy}";
    ps = System.getProperty("path.separator");

    serviceDescriptors = new ServiceDescriptor[] {
   		// Blitz
        new SorcerServiceDescriptor(
            Booter.resolveCodebase(new String[]{
                "org.sorcersoft.blitz:blitz-common",
                "org.sorcersoft.blitz:blitz-proxy",
            	"com.sorcersoft.river:jsk-dl",
                "com.sorcersoft.river:outrigger-dl",
 			    "org.sorcersoft.blitz:blitz-ui"
            }),
            policy,
            Booter.resolveClasspath(new String[]{
                "org.sorcersoft.blitz:blitz-common",
                "org.sorcersoft.blitz:blitz-service",
                "org.sorcersoft.blitz:blitz-proxy",
            	"org.sorcersoft.blitz:blitz-ui",
            	"com.sorcersoft.river:outrigger-dl",
            	"com.sleepycat:je",
            	"com.sorcersoft.river:serviceui",
            	"com.sorcersoft.river:jsk-lib",
            	"com.sorcersoft.river:jsk-platform"
            }),
	        "org.dancres.blitz.remote.BlitzServiceImpl",
          	home + "/configs/blitz/configs/blitz.config"
        )
    };         
         
}
