import com.sun.jini.start.ServiceDescriptor;
import sorcer.provider.boot.SorcerServiceDescriptor;
import sorcer.provider.boot.Booter;
import sorcer.resolver.Resolver;
import sorcer.util.Artifact;

com.sun.jini.start {
	policy = "${java.security.policy}";

	serviceDescriptors = new ServiceDescriptor[] {
		new SorcerServiceDescriptor(
			Booter.resolveCodebase(
				new String[]{
					"${groupId}:${rootArtifactId}-api:${version}",
					Artifact.getSosPlatform().toString()
				}
			),
			policy,
			Resolver.resolveClassPath(
				new String[]{
					"${groupId}:${rootArtifactId}-api:${version}",
					"${groupId}:${rootArtifactId}-prv:${version}"
				}
			),
			"sorcer.core.provider.ServiceTasker",
			new String[] { "classpath:/config/${providerInterface}.config" }
		)
	};
}
