import com.sun.jini.start.ServiceDescriptor;
import sorcer.provider.boot.SorcerDescriptorUtil;
import sorcer.provider.boot.SorcerServiceDescriptor;
import sorcer.provider.boot.Booter;
import sorcer.resolver.Resolver;

com.sun.jini.start {
	policy = "${java.security.policy}";

	port = 0;

	serviceDescriptors = new ServiceDescriptor[] {
		/* SORCER Webster, set to serve up root directories */
		// (String policy, int port, String[] roots)
		SorcerDescriptorUtil.getWebster(policy, port, new String[] { Resolver.getRootDir(), Resolver.getRepoDir() }),

		new SorcerServiceDescriptor(
			Booter.resolveCodebase(new String[]{
				"${groupId}:${rootArtifactId}-api:${version}",
			    "${groupId}:${rootArtifactId}-sui:${version}",
				"org.sorcersoft.sorcer:sos-platform"
			}),
			policy,
			Booter.resolveClasspath(new String[]{
				"${groupId}:${rootArtifactId}-api:${version}",
			    "${groupId}:${rootArtifactId}-sui:${version}",
				"${groupId}:${rootArtifactId}-prv:${version}"
			}),
			"sorcer.core.provider.ServiceTasker",
			new String[] { "classpath:/config/${providerInterface}.config" }
		)
	};
}
