import net.jini.core.entry.Entry;
import net.jini.lookup.entry.*;
import sorcer.provider.boot.Booter;
import sorcer.core.SorcerEnv;
import java.util.Arrays;

com.sun.jini.mahalo {
    name = SorcerEnv.getActualName("Transaction Manager");
    initialLookupGroups = SorcerEnv.getLookupGroups();
    hostName = Booter.getHostName();
    initialLookupAttributes = new Entry[] {
    	new Name(name),
    	new Comment(hostName),
    	new Comment(System.getProperty("user.name")),
    	new Comment("group: "+ Arrays.toString(initialLookupGroups))
	};
    serverExporter = sorcer.container.jeri.ExporterFactories.getBasicTcp();
}
