import com.sun.jini.start.ServiceDescriptor;
import sorcer.provider.boot.SorcerServiceDescriptor;
import sorcer.provider.boot.Booter;

com.sun.jini.start {
	policy = "${java.security.policy}";

	serviceDescriptors = new ServiceDescriptor[] {
		new SorcerServiceDescriptor(
			Booter.resolveCodebase(new String[]{
                "com.example.sorcer:first-api:1.0-M3-SNAPSHOT",
                "com.example.sorcer:first-sui:1.0-M3-SNAPSHOT",
                "org.sorcersoft.sorcer:sos-platform"
            }),
			policy,
			Booter.resolveClasspath(new String[]{
                "com.example.sorcer:first-api:1.0-M3-SNAPSHOT",
                "com.example.sorcer:first-prv:1.0-M3-SNAPSHOT",
                "com.example.sorcer:first-sui:1.0-M3-SNAPSHOT"
            }),
			"sorcer.core.provider.ServiceTasker",
			new String[] { "classpath:/config/SampleService.config" }
		)
	};
}
