/* 
* A SORCER Provider Jini configuration for the WhoIsIt Provider example.
*/
import net.jini.jeri.*;
import net.jini.jeri.tcp.*;
import sorcer.core.*;
import net.jini.core.entry.Entry;
import net.jini.lookup.entry.*;
import sorcer.ex5.provider.*;
import sorcer.core.provider.qos.QosServiceProvider;

sorcer.core.provider.ServiceProvider {
		name="Worker1";
		publishedInterfaces = new Class[] { sorcer.ex5.provider.Worker1.class };
		description = "SORCER Worker provider";
		location = "AFRL/WPAFB";
		entries = new Entry[] { 
			QosServiceProvider.getQosUIDescriptor(),
			QosServiceProvider.getPlatformCapUIDescriptor(),
			QosServiceProvider.getAccumulatorViewerUIDescriptor(),
			QosServiceProvider.getActiveSlasUIDescriptor(),					
			new Comment("Implements Worker interface with three operations"), 
			new Location("1", "218", "146-AFRL") };
			
        spaceEnabled = true;
        workerTransactional = true;
        // History of execution
        storeExecTimeEnabled = false;
		// URL to the history database. If HOSTNAME is used it will be substituted for the real hostname of the machine
        // execTimeDbUrl = "jdbc:derby:${sorcer.home}${/}logs${/}HOSTNAME.worker1_db;create=true;user=sa;password=servme";
        //application specific properties
        properties="../configs/worker-prv.properties";
}
	

