##############################################################################
##                                                                          ##
##  SORCER Network Shell (nsh) Classloading Configuration                   ##
##                                                                          ##
##############################################################################
##
## Note: do not add classes from java.lang here. No rt.jar and on some
##       platforms no tools.jar
##
## See http://groovy.codehaus.org/api/org/codehaus/groovy/tools/LoaderConfiguration.html
## for the file format

    # load required libraries
    
    load !{user.home}/.m2/repository/org/sorcersoft/sorcer/shell/11.1/shell-11.1.jar
    load !{user.home}/.m2/repository/org/sorcersoft/sorcer/boot/11.1/boot-11.1.jar
    load !{user.home}/.m2/repository/org/sorcersoft/sorcer/sorcer-api/11.1/sorcer-api-11.1.jar
    load !{user.home}/.m2/repository/org/sorcersoft/sorcer/sorcer-util/11.1/sorcer-util-11.1.jar
    load !{user.home}/.m2/repository/org/rioproject/rio-platform/5.0-M2/rio-platform-5.0-M2.jar
    load !{user.home}/.m2/repository/org/codehaus/groovy/groovy-all/2.0.6/groovy-all-2.0.6.jar
    load !{user.home}/.m2/repository/net/jini/lookup/serviceui/2.2.1/serviceui-2.2.1.jar
   
    # load user specific libraries
    load !{user.home}/.nsh/lib/*.jar
 	load !{iGrid.home}/lib/sorcer/lib/arithmetic-beans.jar
 	load !{iGrid.home}/lib/sorcer/lib/rect.jar
 	load !{iGrid.home}/lib/sorcer/lib/ju-rs-model.jar
    
    # tools.jar for ant tasks
    # load ${tools.jar}