<?xml version="1.0" encoding="UTF-8"?>
<document>
    <properties>
        <title>Download Sorcer</title>
        <author email="pawel.rubach@sorcersoft.com">Paweł Rubach</author>
    </properties>
    <body>
        <section>
            <h2>License and Dependencies</h2>
            <p>
                Sorcer is distributed under the <a href="license.html"> Apache License, version 2.0</a>.
            </p>

            <p>
                Sorcer distribution contains third-party software libraries that are subject 
		to their respective licenses. You can find these licenses in the Sorcer 
		installation folder in the docs/licenses subfolder. For details please consult the 
		websites of the respective projects before using any of these libraries in your own environment.
            </p>
            <h2>Download Sorcer ${v_sos_release}</h2>
            <p>
                Sorcer ${v_sos_release} is the latest release available.
		
            </p>
            <table>
                <tbody>
                    <tr>
                        <th></th>
                        <th>Type</th>
                        <th>Link</th>
                        <th>Size</th>
                        <th>Signature</th>
                        <th>Date</th>
                    </tr>
                    <tr>
			<td>Sorcer ${v_sos_release} ZIP release</td>
			<td>zip</td> 
                        <td><a href="http://sourceforge.net/projects/sorcer/files/sorcer-${v_sos_release}/sorcer-${v_sos_release}.zip/download">Download</a></td>
                        <td>63 MB</td>
                        <td><a href="http://sourceforge.net/projects/sorcer/files/sorcer-${v_sos_release}/sorcer-${v_sos_release}.zip.md5/download">MD5</a></td>
                        <td align="center">10/01/2014</td>
                    </tr>
                    <tr>
			<td>Sorcer ${v_sos_release} Windows setup</td>
			<td>exe</td> 
                        <td><a href="http://sourceforge.net/projects/sorcer/files/sorcer-${v_sos_release}/sorcer-${v_sos_release}-setup.exe/download">Download</a></td>
                        <td>65 MB</td>
                        <td><a href="http://sourceforge.net/projects/sorcer/files/sorcer-${v_sos_release}/sorcer-${v_sos_release}-setup.exe.md5/download">MD5</a></td>
                        <td align="center">10/01/2014</td>
                    </tr>
		    <tr>
			<td>Sorcer ${v_sos_release} cross-platform setup</td>
			<td>jar</td> 
                        <td><a href="http://sourceforge.net/projects/sorcer/files/sorcer-${v_sos_release}/sorcer-${v_sos_release}-setup.jar/download">Download</a></td>
                        <td>64 MB</td>
                        <td><a href="http://sourceforge.net/projects/sorcer/files/sorcer-${v_sos_release}/sorcer-${v_sos_release}-setup.jar.md5/download">MD5</a></td>
                        <td align="center">10/01/2014</td>
                    </tr>
                </tbody>
            </table>
	    
            
            <h2>Download Sorcer 1.0-M2 - previous milestone version.</p>
            <table>
                <tbody>
                    <tr>
                        <th></th>
                        <th>Type</th>
                        <th>Link</th>
                        <th>Size</th>
                        <th>Signature</th>
                        <th>Date</th>
                    </tr>
                    <tr>
			<td>Sorcer 1.0-M2 ZIP release</td>
			<td>zip</td> 
                        <td><a href="http://sourceforge.net/projects/sorcer/files/sorcer-1.0-M2/sorcer-1.0-M2.zip/download">Download</a></td>
                        <td>40 MB</td>
                        <td><a href="http://sourceforge.net/projects/sorcer/files/sorcer-1.0-M2/sorcer-1.0-M2.zip.md5/download">MD5</a></td>
                        <td align="center">24/07/2013</td>
                    </tr>
                    <tr>
			<td>Sorcer 1.0-M2 Windows setup</td>
			<td>exe</td> 
                        <td><a href="http://sourceforge.net/projects/sorcer/files/sorcer-1.0-M2/sorcer-1.0-M2-setup.exe/download">Download</a></td>
                        <td>40 MB</td>
                        <td><a href="http://sourceforge.net/projects/sorcer/files/sorcer-1.0-M2/sorcer-1.0-M2-setup.exe.md5/download">MD5</a></td>
                        <td align="center">24/07/2013</td>
                    </tr>
		    <tr>
			<td>Sorcer 1.0-M2 cross-platform setup</td>
			<td>jar</td> 
                        <td><a href="http://sourceforge.net/projects/sorcer/files/sorcer-1.0-M2/sorcer-1.0-M2-setup.jar/download">Download</a></td>
                        <td>40 MB</td>
                        <td><a href="http://sourceforge.net/projects/sorcer/files/sorcer-1.0-M2/sorcer-1.0-M2-setup.jar.md5/download">MD5</a></td>
                        <td align="center">24/07/2013</td>
                    </tr>
                </tbody>
            </table>

	    <p>
	      Pick the most suitable distribution for you:	   	    
	    <ul>
	      <li>if you're running Windows - use the Windows EXE setup file</li>
	      <li>on other OSes use the JAR installer. After you've downloaded the file you can try double-clicking it, however, depending on your OS configuration this may not invoke the installer. In that case open a terminal window and run

		<pre>java -jar sorcer-${v_sos_release}-setup.jar</pre></li>
  
		<li>if you prefer a manual install please use the zip file.</li>
	    </ul>
	    </p>

	    <p>
        <ul>
	      <li>Installation on a headless machine
	      If you only have a console based (headless) access to a machine you can perform the installation using the text-based installer by invoking:

	      <pre>java  -Djava.awt.headless=true -jar sorcer-${v_sos_release}-setup.jar</pre>
	      </li>
	      </ul>
	    </p>

	     <h2>Sorcer ${v_sorcer}</h2>
	                <p>
                        If you would like to test a more feature rich but less stable version, please check our current SNAPSHOT release: Sorcer ${v_sorcer}
                        This release is available directly from our SourceForge download site:
                        <a href="http://sourceforge.net/projects/sorcer/files/">http://sourceforge.net/projects/sorcer/files/</a>
                    </p>
        </section>
    </body>
</document>
