import java.net.URL;
import com.sun.jini.start.ServiceDescriptor;
import sorcer.provider.boot.SorcerDescriptorUtil;
import sorcer.provider.boot.SorcerServiceDescriptor;
import sorcer.resolver.Resolver;
import sorcer.provider.boot.Booter;

com.sun.jini.start {
	home = "${sorcer.home}";
	policy = "${java.security.policy}";

	port = 0;

	serviceDescriptors = new ServiceDescriptor[] {
		/* SORCER Webster, set to serve up root directories */
		// (String policy, int port, String[] roots)
		SorcerDescriptorUtil.getWebster(policy, port, new String[] { Resolver.getRootDir(), Resolver.getRepoDir() }),

		new SorcerServiceDescriptor(
			Booter.resolveCodebase(new String[]{
				"com.example.sorcer:first-api:1.0-SNAPSHOT",
				"org.sorcersoft.sorcer:sos-platform"
			}),
			policy,
			Booter.resolveClasspath(new String[]{
				"com.example.sorcer:first-api:1.0-SNAPSHOT",
				"com.example.sorcer:first-prv:1.0-SNAPSHOT"
			}),
			"sorcer.core.provider.ServiceTasker",
			new String[] { "classpath:/config/HelloWorld.config" }
		)
	};
}
