/* 
* A SORCER Provider Jini configuration for the WhoIsIt Provider example.
*/
import net.jini.jeri.*;
import net.jini.jeri.tcp.*;
import sorcer.core.*;
import net.jini.core.entry.Entry;
import net.jini.lookup.entry.*;
import sorcer.ex1.provider.*;
import sorcer.provider.boot.Booter;

sorcer.core.provider.ServiceProvider {
		name="Worker3";
		publishedInterfaces = new Class[] { sorcer.ex2.provider.Worker.class };
		description = "SORCER Worker provider";
		location = "Sorcersoft.com Lab";
		entries = new Entry[] { 
			new Comment("Implements Worker interface with three operations"), 
			new Location("", "", "Sorcersoft.com") };
			
        // exporter = new BasicJeriExporter(TcpServerEndpoint.getInstance(Booter.getHostAddress(), 0), new BasicILFactory());
        
        spaceEnabled = true;
        
        //application specific properties
        properties="worker-prv.properties";
        iconName="worker.png";
}
	

