import java.net.URL;
import net.jini.jrmp.*;
import net.jini.jeri.*;
import net.jini.jeri.tcp.*;
import net.jini.core.entry.*;
import net.jini.lookup.entry.*;
import sorcer.core.*;
import sorcer.provider.boot.Booter;
import sorcer.util.Artifact;
import sorcer.util.ArtifactCoordinates;
import sorcer.ui.serviceui.*;

sorcer.core.provider.ServiceProvider  {
		name = "Cataloger";
		publishedInterfaces = new Class[] { sorcer.core.provider.Cataloger.class };
		description = "Dynamic catalog of SORCER service providers";
		location = "Sorcersoft.com Lab";
		spaceEnabled = false;

		entries = new Entry[] {
			// URL exportUrl, String className, String name, String helpFilename
			UIDescriptorFactory.getUIDescriptor(
				net.jini.lookup.ui.MainUI.ROLE,
				new UIFrameFactory(
					new URL[]{
						Booter.artifactURL(Artifact.sorcer("cataloger-sui")),
						Booter.artifactURL(Artifact.sorcer("sorcer-ui")),
						Booter.artifactURL(Artifact.sorcer("sos-exertlet-sui")),
						Booter.artifactURL(ArtifactCoordinates.coords("com.sorcersoft.river:serviceui"))
					},
					"sorcer.core.provider.cataloger.ui.CatalogerUI",
					"Catalog Browser",
					new URL(SorcerEnv.getWebsterUrl() + "/deploy/cataloger.html")
				)
			),
			new Comment("Welcome to exertion-oriented programming!"),
			new Location("", "", "Sorcersoft.com") };

        // if not declared the default exporter is BasicJeriExporter
        // exporter = new JrmpExporter(0);
         exporter = new BasicJeriExporter(TcpServerEndpoint.getInstance(SorcerEnv.getHostAddress(), 0), new BasicILFactory());
        
         iconName="sorcer-ico.png";
}


