/* 
* A SORCER Provider dependency injection definitions.
* It uses component entry names by sorcer.core.provider.SorcerProvider.
*/
import net.jini.jrmp.*;
import net.jini.jeri.*;
import net.jini.jeri.tcp.*;
import sorcer.core.*;
import sorcer.jini.jeri.*;
import net.jini.core.entry.Entry;
import net.jini.lookup.entry.*;
import net.jini.lookup.ui.MainUI;
import sorcer.ui.serviceui.UIComponentFactory;
import sorcer.ui.serviceui.UIDescriptorFactory;
import java.net.URL;
//import sorcer.ex0.HelloWorldImplUI;

sorcer.core.provider.ServiceProvider {
	/* service provider generic properties */
	name = "HelloWorld";
	description = "HelloWorld Service";
	publishedInterfaces = new Class[] { sorcer.ex0.HelloWorld.class };
	// service beans
	beanClasses = new Class[] { sorcer.ex0.HelloWorldImpl.class };
	iconName="/config/sorcer.png";

	entries = new Entry[] {
	    UIDescriptorFactory.getUIDescriptor(MainUI.ROLE, new UIComponentFactory(new URL("artifact:org.sorcersoft.sorcer:ex0-sui:1.0"), "sorcer.ex0.HelloWorldImplUI"))
    };

	monitorEnabled = false;
    spaceEnabled = false;
}
